* {
	margin  : 0;
	padding : 0;
}

html, body {
	height : 100%;
}

body {
	display          : flex;
	flex-direction   : column;
	justify-content  : center;
	align-items      : center;
	background-color : #ed5b2f;
	color            : #fff;
}

body, button {
	font-family : 'Droid Sans', sans-serif;
	font-size   : 16px;
}

#time {
	font-family         : 'Droid Sans Mono', monospace;
	font-size           : 20vw;
	transition-property : all;
	transition-duration : 250ms;
}

#controls {
	display        : flex;
	flex-direction : row;
	margin-top     : 2vw;
}

#controls button {
	width               : 20vmax;
	height              : 12vmax;
	margin-left         : 2vw;
	font-size           : 5vmax;
	border-radius       : 4px;
	border              : 2px solid #9F2400;
	background-color    : #FF9D81;
	color               : #9F2400;
	transition-property : all;
	transition-duration : 250ms;
}

#controls button:focus {
	box-shadow   : 0 0 5px 2px #fff;
	border-color : #fff;
	outline      : 0;
}

#controls button:first-child {
	margin-left : 0;
}

#controls button#reset {
	margin-right : 8vw;
}

@media (orientation : portrait) {
	#controls {
		flex-direction : column;
		margin-top     : 4vh;
	}
	
	#controls button {
		margin-left : 0;
		margin-top  : 2vh;
	}
	
	#controls button:first-child {
		margin-top : 0;
	}
	
	#controls button#reset {
		margin-right  : 0;
		margin-bottom : 8vh;
	}
}
