doctype html
head
    meta(charset="utf-8")
    block title
        title Stopwatch
    link(
        rel="stylesheet"
        href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono"
    )
    link(
        rel="stylesheet"
        href="styles/main.css"
    )
body
    block content
    block scripts
